<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        서울, 부산, 인천 날짜별 미세먼지 정보
    </title>
</head>
<body>
    <form method="POST" action="/seoul">
        <h1> 서울, 부산, 인천의 미세먼지 정보 </h1>
        <h3> 아래 버튼을 눌러 원하는 지역의 날짜별 미세먼지 정보를 알아보세요</br></h3>
        <button type="submit">서울 미세먼지</br></button>
    </form>

    <form method="POST" action="/busan">
        <button type="submit">부산 미세먼지</br></button>
    </form>

    <form method="POST" action="/incheon">
        <button type="submit">인천 미세먼지</br></button>
    </form>

    <form method="POST" action="/dbupdate">
        <button type="submit">정보 갱신</button>
    </form>

</body>
</html>

